h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-weight: 700;
}
div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: burlywood;
    padding: 20px;
    margin: 2px;
    border-radius: 20px;
}
a{
    color: brown;
    text-decoration: none;
}